@import "_normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import "_trello.css";
@import "_trello-board.css";
@import "_trello-column.css";
@import "_trello-card.css";
@import "_trello-form.css";

::-webkit-scrollbar { width: 0.375rem; height: 0.375rem; }

::-webkit-scrollbar-thumb { background: #4b5563; border-radius: 0.25rem; }

body { font-family: "Roboto", sans-serif; }
